@import 'bootstrap/variables';
@import 'bootstrap/bootstrap';
@import 'variables';

body {
    font-family: 'Roboto', $font-family-base;

    &.wf-active {
        font-family: $font-family-base;
    }
}

h1 {
    color: aquamarine;
}

.hidden {
    display: none;
}

@import 'components/*';
