.btn {
    display: inline-block;
    padding: $btn-padding-y $btn-padding-x;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: $btn-border-width solid transparent;
    border-radius: $border-radius;
    transition-duration: $btn-transition-duration;
    transition-property: $btn-transition-property;
    transition-timing-function: $btn-transition-easing;
    user-select: none;

    @include hover-focus {
        text-decoration: none;
    }

    &.disabled,
    &:disabled {
        opacity: $btn-opacity-disabled;
    }
}

@each $color, $value in $theme-colors {
    .btn--#{$color} {
        @include button-variant($value, $value);
    }
}
