/**
 * Color
 *
 * weight: -10
 *
 * Styleguide Base - Color
 */

/**
 * Brand primary
 *
 * Used for links, backgrounds
 *
 * markup:
 * <div style="background: #337ab7;" class="kss_sg-color"><span class="kss_sg-color__name">@brand-primary - #337ab7</span></div>
 *
 * weight: -10
 *
 * Styleguide Base - Color - Brand primary
 */

/**
 * Brand success
 *
 * Used for success backgrounds
 *
 * markup:
 * <div style="background: #5cb85c;" class="kss_sg-color"><span class="kss_sg-color__name">@brand-success - #5cb85c</span></div>
 *
 * Styleguide Base - Color - Brand success
 */

/**
 * Brand info
 *
 * Used for info backgrounds
 *
 * markup:
 * <div style="background: #5bc0de;" class="kss_sg-color"><span class="kss_sg-color__name">@brand-info - #5bc0de</span></div>
 *
 * Styleguide Base - Color - Brand info
 */

/**
 * Brand warning
 *
 * Used for warning backgrounds
 *
 * markup:
 * <div style="background: #f0ad4e;" class="kss_sg-color"><span class="kss_sg-color__name">@brand-warning - #f0ad4e</span></div>
 *
 * Styleguide Base - Color - Brand warning
 */

/**
 * Brand danger
 *
 * Used for danger backgrounds
 *
 * markup:
 * <div style="background: #d9534f;" class="kss_sg-color"><span class="kss_sg-color__name">@brand-danger - #d9534f</span></div>
 *
 * Styleguide Base - Color - Brand danger
 */

/**
 * Gray dark
 *
 * Used for global text color
 *
 * markup:
 * <div style="background: #333;" class="kss_sg-color"><span class="kss_sg-color__name">@gray-dark - #333</span></div>
 *
 * Styleguide Base - Color - Gray dark
 */

/**
 * Gray light
 *
 * Used for disabled text
 *
 * markup:
 * <div style="background: #777;" class="kss_sg-color"><span class="kss_sg-color__name">@gray-light - #777</span></div>
 *
 * Styleguide Base - Color - Gray light
 */

/**
 * Gray lighter
 *
 * Used for backgrounds
 *
 * markup:
 * <div style="background: #eee;" class="kss_sg-color"><span class="kss_sg-color__name">@gray-lighter - #eee</span></div>
 *
 * Styleguide Base - Color - Gray lighter
 */
