/**
 * Headings
 *
 * markup:
 * <h1>I am H1 and I am used for page titles</h1>
 * <p>Lorem ipsum Irure magna enim occaecat nisi in veniam mollit adipisicing proident eu nostrud non eiusmod in enim quis Ut irure qui laborum dolor tempor proident veniam dolore aute quis est in consequat in.</p>
 * <h2>I am H2 and I am used for page section titles</h2>
 * <p>Lorem ipsum Duis fugiat culpa mollit mollit laborum cillum do in mollit sint occaecat eu sint consectetur et id consequat voluptate velit ut nulla mollit adipisicing do id dolore reprehenderit adipisicing Excepteur deserunt velit sit nostrud voluptate tempor in dolore tempor.</p>
 * <h3>I am H3 and I am used for second level page section titles</h3>
 * <p>Lorem ipsum Dolor magna do qui do sunt est labore aliqua in proident sunt dolore est dolore deserunt nulla elit esse deserunt aliqua ullamco dolore mollit.</p>
 * <h4>I am H4 and I am used for third level page section titles</h4>
 * <p>Lorem ipsum Dolor magna do qui do sunt est labore aliqua in proident sunt dolore est dolore deserunt nulla elit esse deserunt aliqua ullamco dolore mollit.</p>
 * <h5>I am H5</h5>
 * <p>Lorem ipsum Dolor magna do qui do sunt est labore aliqua in proident sunt dolore est dolore deserunt nulla elit esse deserunt aliqua ullamco dolore mollit.</p>
 * <h6>I am H6</h6>
 * <p>Lorem ipsum Dolor magna do qui do sunt est labore aliqua in proident sunt dolore est dolore deserunt nulla elit esse deserunt aliqua ullamco dolore mollit.</p>
 *
 * weight: -10
 *
 * Styleguide Base - Headings
 */

/**
 * Headings with secondary text
 *
 * markup:
 * <h1>I am H1 <small>Secondary text</small></h1>
 * <p>Lorem ipsum Irure magna enim occaecat nisi in veniam mollit adipisicing proident eu nostrud non eiusmod in enim quis Ut irure qui laborum dolor tempor proident veniam dolore aute quis est in consequat in.</p>
 * <h2>I am H2 <small>Secondary text</small></h2>
 * <p>Lorem ipsum Duis fugiat culpa mollit mollit laborum cillum do in mollit sint occaecat eu sint consectetur et id consequat voluptate velit ut nulla mollit adipisicing do id dolore reprehenderit adipisicing Excepteur deserunt velit sit nostrud voluptate tempor in dolore tempor.</p>
 * <h3>I am H3 <small>Secondary text</small></h3>
 * <p>Lorem ipsum Dolor magna do qui do sunt est labore aliqua in proident sunt dolore est dolore deserunt nulla elit esse deserunt aliqua ullamco dolore mollit.</p>
 * <h4>I am H4 <small>Secondary text</small></h4>
 * <p>Lorem ipsum Dolor magna do qui do sunt est labore aliqua in proident sunt dolore est dolore deserunt nulla elit esse deserunt aliqua ullamco dolore mollit.</p>
 * <h5>I am H5 <small>Secondary text</small></h5>
 * <p>Lorem ipsum Dolor magna do qui do sunt est labore aliqua in proident sunt dolore est dolore deserunt nulla elit esse deserunt aliqua ullamco dolore mollit.</p>
 * <h6>I am H6 <small>Secondary text</small></h6>
 * <p>Lorem ipsum Dolor magna do qui do sunt est labore aliqua in proident sunt dolore est dolore deserunt nulla elit esse deserunt aliqua ullamco dolore mollit.</p>
 *
 * Styleguide Base - Headings - Secondary text
 */
