/**
 * Inline text elements
 *
 * weight: -5
 *
 * Styleguide Base - Inline text elements
 */

/**
 * Link
 *
 * default - Normal link
 * :hover - Hover
 * :focus - Focus
 * :active - Active
 *
 * markup:
 * This is a link to <a href="http://www.getbootstrap.com" class="{{modifier_class}}">bootstrap</a> and the bold version <strong><a href="http://www.getbootstrap.com" class="{{modifier_class}}">bootstrap</a></strong>.
 *
 * weight: -10
 *
 * Styleguide Base - Inline text elements - Link
 */

/**
 * Bold
 *
 * markup:
 * <p><strong>Lorem ipsum Id veniam consectetur sunt laboris aute amet minim sed commodo aliquip eu irure aute Ut nostrud sed laborum sint sint ut.</strong></p>
 *
 * Styleguide Base - Inline text elements - Bold
 */

/**
 * Italics
 *
 * markup:
 * <p><em>Lorem ipsum Id veniam consectetur sunt laboris aute amet minim sed commodo aliquip eu irure aute Ut nostrud sed laborum sint sint ut.</em></p>
 *
 * Styleguide Base - Inline text elements - Italics
 */

/**
 * Small
 *
 * markup:
 * <p><small>Lorem ipsum Id veniam consectetur sunt laboris aute amet minim sed commodo aliquip eu irure aute Ut nostrud sed laborum sint sint ut.</small></p>
 *
 * Styleguide Base - Inline text elements - Small
 */
