/**
 * List
 *
 * weight: -5
 *
 * Styleguide Base - List
 */

/**
 * Unordered list
 *
 * markup:
 * <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
 *
 * weight: -10
 *
 * Styleguide Base - List - Unordered
 */

/**
 * Ordered list
 *
 * markup:
 * <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ol>
 *
 * weight: -10
 *
 * Styleguide Base - List - Ordered
 */

/**
 * Inline list
 *
 * markup:
 * <ul class="list-inline">
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
 *
 * Styleguide Base - List - Inline
 */

/**
 * Unstyled list
 *
 * markup:
 * <ul class="list-unstyled">
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
 *
 * Styleguide Base - List - Unstyled
 */
