/**
 * Paragraph
 *
 * markup:
 * <p>Lorem ipsum Irure dolore dolor non dolore dolor dolor laboris aliqua minim proident quis eu esse aliqua magna nisi ad dolor eu eu sint occaecat aliquip do sit velit. Ad ut aliqua deserunt ea Duis veniam in nisi do magna do est eiusmod voluptate culpa elit sint in sint ut labore aliqua deserunt velit aliqua irure ea ad elit aute quis dolore.</p>
 * <p>Lorem ipsum Mollit incididunt id id laborum voluptate culpa dolor dolor dolor proident dolore non elit eiusmod qui reprehenderit elit ad ut.</p>
 *
 * weight: -10
 *
 * Styleguide Base - Paragraph
 */
