/**
 * Table
 *
 * weight: -5
 *
 * Styleguide Base - Table
 */

/**
 * Basic table
 *
 * markup:
 * <table class="table">
        <tbody>
            <tr>
                <th>0</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>1</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>2</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>3</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
        </tbody>
    </table>
 *
 * weight: -10
 *
 * Styleguide Base - Table - Basic
 */

/**
 * Responsive table
 *
 * markup:
 * <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th>0</th>
                    <td>mauris Lorem ipsum Sunt laborum consequat sed dolor.</td>
                    <td>tellus</td>
                    <td>morbi</td>
                </tr>
                <tr>
                    <th>1</th>
                    <td>mauris Lorem ipsum Sunt laborum consequat sed dolor.</td>
                    <td>tellus</td>
                    <td>morbi</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>mauris Lorem ipsum Sunt laborum consequat sed dolor.</td>
                    <td>tellus</td>
                    <td>morbi</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>mauris Lorem ipsum Sunt laborum consequat sed dolor.</td>
                    <td>tellus</td>
                    <td>morbi</td>
                </tr>
            </tbody>
        </table>
    </div>
 *
 * weight: -5
 *
 * Styleguide Base - Table - Responsive
 */

/**
 * Striped rows table
 *
 * markup:
 * <table class="table table-striped">
        <tbody>
            <tr>
                <th>0</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>1</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>2</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>3</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
        </tbody>
    </table>
 *
 * Styleguide Base - Table - Striped rows
 */

/**
 * Bordered table
 *
 * markup:
 * <table class="table table-bordered">
        <tbody>
            <tr>
                <th>0</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>1</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>2</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>3</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
        </tbody>
    </table>
 *
 * Styleguide Base - Table - Bordered
 */

/**
 * Hover rows table
 *
 * markup:
 * <table class="table table-hover">
        <tbody>
            <tr>
                <th>0</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>1</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>2</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>3</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
        </tbody>
    </table>
 *
 * Styleguide Base - Table - Hover rows
 */

/**
 * Condensed table
 *
 * markup:
 * <table class="table table-condensed">
        <tbody>
            <tr>
                <th>0</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>1</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>2</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
            <tr>
                <th>3</th>
                <td>mauris</td>
                <td>tellus</td>
                <td>morbi</td>
            </tr>
        </tbody>
    </table>
 *
 * Styleguide Base - Table - Condensed
 */
